#s-02baadb4-5d05-41d6-a42e-a98349c8db8f #s-Rich_text_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02baadb4-5d05-41d6-a42e-a98349c8db8f #s-Label_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02baadb4-5d05-41d6-a42e-a98349c8db8f #s-Label_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02baadb4-5d05-41d6-a42e-a98349c8db8f #s-Label_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02baadb4-5d05-41d6-a42e-a98349c8db8f #s-Rich_text_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02baadb4-5d05-41d6-a42e-a98349c8db8f #s-Rich_text_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02baadb4-5d05-41d6-a42e-a98349c8db8f #s-Line_17 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02baadb4-5d05-41d6-a42e-a98349c8db8f #s-ok {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02baadb4-5d05-41d6-a42e-a98349c8db8f #s-Rich_text_45 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02baadb4-5d05-41d6-a42e-a98349c8db8f #s-Rich_text_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02baadb4-5d05-41d6-a42e-a98349c8db8f #s-Line_19 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02baadb4-5d05-41d6-a42e-a98349c8db8f #s-Label-red_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02baadb4-5d05-41d6-a42e-a98349c8db8f #s-Rich_text_46 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02baadb4-5d05-41d6-a42e-a98349c8db8f #s-Rich_text_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02baadb4-5d05-41d6-a42e-a98349c8db8f #s-Line_20 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02baadb4-5d05-41d6-a42e-a98349c8db8f #s-Rich_text_47 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02baadb4-5d05-41d6-a42e-a98349c8db8f #s-Rich_text_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02baadb4-5d05-41d6-a42e-a98349c8db8f #s-Line_21 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02baadb4-5d05-41d6-a42e-a98349c8db8f #s-Label-red_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02baadb4-5d05-41d6-a42e-a98349c8db8f #s-Rich_text_48 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02baadb4-5d05-41d6-a42e-a98349c8db8f #s-Rich_text_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02baadb4-5d05-41d6-a42e-a98349c8db8f #s-Line_22 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02baadb4-5d05-41d6-a42e-a98349c8db8f #s-Label-red_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02baadb4-5d05-41d6-a42e-a98349c8db8f #s-Rich_text_49 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02baadb4-5d05-41d6-a42e-a98349c8db8f #s-Rich_text_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02baadb4-5d05-41d6-a42e-a98349c8db8f #s-Line_23 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02baadb4-5d05-41d6-a42e-a98349c8db8f #s-Label-red_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02baadb4-5d05-41d6-a42e-a98349c8db8f #s-Rich_text_50 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02baadb4-5d05-41d6-a42e-a98349c8db8f #s-Rich_text_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02baadb4-5d05-41d6-a42e-a98349c8db8f #s-Line_24 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02baadb4-5d05-41d6-a42e-a98349c8db8f #s-Label-red_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02baadb4-5d05-41d6-a42e-a98349c8db8f #s-Rich_text_51 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02baadb4-5d05-41d6-a42e-a98349c8db8f #s-Rich_text_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02baadb4-5d05-41d6-a42e-a98349c8db8f #s-Line_25 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02baadb4-5d05-41d6-a42e-a98349c8db8f #s-Label-red_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02baadb4-5d05-41d6-a42e-a98349c8db8f #s-Rich_text_52 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02baadb4-5d05-41d6-a42e-a98349c8db8f #s-Rich_text_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02baadb4-5d05-41d6-a42e-a98349c8db8f #s-Line_26 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02baadb4-5d05-41d6-a42e-a98349c8db8f #s-Label-red_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02baadb4-5d05-41d6-a42e-a98349c8db8f #s-Rich_text_53 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02baadb4-5d05-41d6-a42e-a98349c8db8f #s-Rich_text_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02baadb4-5d05-41d6-a42e-a98349c8db8f #s-Line_27 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02baadb4-5d05-41d6-a42e-a98349c8db8f #s-Label-red_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02baadb4-5d05-41d6-a42e-a98349c8db8f #s-Rich_text_54 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02baadb4-5d05-41d6-a42e-a98349c8db8f #s-Rich_text_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02baadb4-5d05-41d6-a42e-a98349c8db8f #s-Line_28 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02baadb4-5d05-41d6-a42e-a98349c8db8f #s-Label-red_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02baadb4-5d05-41d6-a42e-a98349c8db8f #s-Rich_text_55 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02baadb4-5d05-41d6-a42e-a98349c8db8f #s-Line_29 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02baadb4-5d05-41d6-a42e-a98349c8db8f #s-Label-red_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02baadb4-5d05-41d6-a42e-a98349c8db8f #s-plus-green-line {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02baadb4-5d05-41d6-a42e-a98349c8db8f #s-dot-blue {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02baadb4-5d05-41d6-a42e-a98349c8db8f #s-dot-blue_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02baadb4-5d05-41d6-a42e-a98349c8db8f #s-Label-red {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02baadb4-5d05-41d6-a42e-a98349c8db8f #s-Label-red_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02baadb4-5d05-41d6-a42e-a98349c8db8f #s-Label-red_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02baadb4-5d05-41d6-a42e-a98349c8db8f #s-Rich_text_56 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02baadb4-5d05-41d6-a42e-a98349c8db8f #s-Rich_text_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02baadb4-5d05-41d6-a42e-a98349c8db8f #s-Line_30 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02baadb4-5d05-41d6-a42e-a98349c8db8f #s-Label-red_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02baadb4-5d05-41d6-a42e-a98349c8db8f #s-Rich_text_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02baadb4-5d05-41d6-a42e-a98349c8db8f #s-Label-red_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02baadb4-5d05-41d6-a42e-a98349c8db8f #s-Label-red_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.ui-page {
  overflow-x: hidden;
}
#s-02baadb4-5d05-41d6-a42e-a98349c8db8f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}