#s-3301b260-6622-44f6-8bb7-0a0b220709d6 #s-Rich_text_76 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3301b260-6622-44f6-8bb7-0a0b220709d6 #s-Image_10 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98) ;
  filter: alpha(opacity=98) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3301b260-6622-44f6-8bb7-0a0b220709d6 #s-Rich_text_72 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3301b260-6622-44f6-8bb7-0a0b220709d6 #s-Line_34 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3301b260-6622-44f6-8bb7-0a0b220709d6 #s-Line_46 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3301b260-6622-44f6-8bb7-0a0b220709d6 #s-Label-red {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3301b260-6622-44f6-8bb7-0a0b220709d6 #s-Rich_text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3301b260-6622-44f6-8bb7-0a0b220709d6 #s-Label-red_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3301b260-6622-44f6-8bb7-0a0b220709d6 #s-Rich_text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3301b260-6622-44f6-8bb7-0a0b220709d6 #s-Label_424 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3301b260-6622-44f6-8bb7-0a0b220709d6 #s-Label_456 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3301b260-6622-44f6-8bb7-0a0b220709d6 #s-Label_175 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3301b260-6622-44f6-8bb7-0a0b220709d6 #s-Ellipse_17 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3301b260-6622-44f6-8bb7-0a0b220709d6 #s-Ellipse_137 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3301b260-6622-44f6-8bb7-0a0b220709d6 #s-Ellipse_138 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3301b260-6622-44f6-8bb7-0a0b220709d6 #s-Ellipse_139 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3301b260-6622-44f6-8bb7-0a0b220709d6 #s-Ellipse_140 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3301b260-6622-44f6-8bb7-0a0b220709d6 #s-Label_495 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3301b260-6622-44f6-8bb7-0a0b220709d6 #s-Label_176 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3301b260-6622-44f6-8bb7-0a0b220709d6 #s-Rich_text_47 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3301b260-6622-44f6-8bb7-0a0b220709d6 #s-Label_120 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3301b260-6622-44f6-8bb7-0a0b220709d6 #s-Label_96 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3301b260-6622-44f6-8bb7-0a0b220709d6 #s-Rich_text_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3301b260-6622-44f6-8bb7-0a0b220709d6 #s-Label_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3301b260-6622-44f6-8bb7-0a0b220709d6 #s-Label_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3301b260-6622-44f6-8bb7-0a0b220709d6 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.ui-page {
  overflow-x: hidden;
}
#s-3301b260-6622-44f6-8bb7-0a0b220709d6 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}