#s-3824fca4-0f5c-4cf6-a72e-14d658080f49 #s-Rich_text_47 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-3824fca4-0f5c-4cf6-a72e-14d658080f49 #s-Label_120 {
  -ms-transform: rotate(0.0deg);
}
#s-3824fca4-0f5c-4cf6-a72e-14d658080f49 #s-Label_121 {
  -ms-transform: rotate(0.0deg);
}
#s-3824fca4-0f5c-4cf6-a72e-14d658080f49 #s-Label_122 {
  -ms-transform: rotate(0.0deg);
}
#s-3824fca4-0f5c-4cf6-a72e-14d658080f49 #s-Label_123 {
  -ms-transform: rotate(0.0deg);
}
#s-3824fca4-0f5c-4cf6-a72e-14d658080f49 #s-Button-black_1 {
  -ms-transform: rotate(0.0deg);
}
#s-3824fca4-0f5c-4cf6-a72e-14d658080f49 #s-Button-black {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #434343;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #434343;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 65px;
  height: 27px;
  -ms-transform: rotate(0.0deg);
}
#s-3824fca4-0f5c-4cf6-a72e-14d658080f49 #s-Label_96 {
  -ms-transform: rotate(0.0deg);
}
.ui-page {
  overflow-x: hidden;
}
#s-3824fca4-0f5c-4cf6-a72e-14d658080f49 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}