#s-3a0defcf-a3dd-43fe-a6c8-5399032af8db #s-Label_2 {
  -ms-transform: rotate(0.0deg);
}
#s-3a0defcf-a3dd-43fe-a6c8-5399032af8db #s-Label-red {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F8F7F6;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F8F7F6;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F8F7F6;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F8F7F6;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 49px;
  height: 37px;
  -ms-transform: rotate(0.0deg);
}
#s-3a0defcf-a3dd-43fe-a6c8-5399032af8db #s-Rich_text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-3a0defcf-a3dd-43fe-a6c8-5399032af8db #s-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#s-3a0defcf-a3dd-43fe-a6c8-5399032af8db #s-Rich_text_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  -ms-transform: rotate(0.0deg);
}
#s-3a0defcf-a3dd-43fe-a6c8-5399032af8db #s-Rich_text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-3a0defcf-a3dd-43fe-a6c8-5399032af8db #s-Label_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 50px;
  height: 23px;
  -ms-transform: rotate(0.0deg);
}
#s-3a0defcf-a3dd-43fe-a6c8-5399032af8db #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-3a0defcf-a3dd-43fe-a6c8-5399032af8db #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-3a0defcf-a3dd-43fe-a6c8-5399032af8db #s-Rich_text_5 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  -ms-transform: rotate(0.0deg);
}
#s-3a0defcf-a3dd-43fe-a6c8-5399032af8db #s-Label_6 {
  -ms-transform: rotate(0.0deg);
}
#s-3a0defcf-a3dd-43fe-a6c8-5399032af8db #s-Rich_text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-3a0defcf-a3dd-43fe-a6c8-5399032af8db #s-Rich_text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-3a0defcf-a3dd-43fe-a6c8-5399032af8db #s-Label_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 50px;
  height: 23px;
  -ms-transform: rotate(0.0deg);
}
#s-3a0defcf-a3dd-43fe-a6c8-5399032af8db #s-Line_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-3a0defcf-a3dd-43fe-a6c8-5399032af8db #s-Line_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-3a0defcf-a3dd-43fe-a6c8-5399032af8db #s-Rich_text_8 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  -ms-transform: rotate(0.0deg);
}
#s-3a0defcf-a3dd-43fe-a6c8-5399032af8db #s-Label_8 {
  -ms-transform: rotate(0.0deg);
}
#s-3a0defcf-a3dd-43fe-a6c8-5399032af8db #s-Rich_text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-3a0defcf-a3dd-43fe-a6c8-5399032af8db #s-Rich_text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-3a0defcf-a3dd-43fe-a6c8-5399032af8db #s-Label_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 50px;
  height: 23px;
  -ms-transform: rotate(0.0deg);
}
#s-3a0defcf-a3dd-43fe-a6c8-5399032af8db #s-Line_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-3a0defcf-a3dd-43fe-a6c8-5399032af8db #s-Line_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-3a0defcf-a3dd-43fe-a6c8-5399032af8db #s-Label_5 {
  -ms-transform: rotate(0.0deg);
}
.ui-page {
  overflow-x: hidden;
}
#s-3a0defcf-a3dd-43fe-a6c8-5399032af8db > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}