#s-4b0bef1c-4c7f-457c-b02b-e086bfd675f2 #s-Rich_text_31 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-4b0bef1c-4c7f-457c-b02b-e086bfd675f2 #s-Label_12 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #157EFB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #157EFB;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #157EFB;
  border-radius: 4px 0px 0px 4px;
  padding-top: 2px;
  padding-right: 0px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 114px;
  height: 23px;
  -ms-transform: rotate(0.0deg);
}
#s-4b0bef1c-4c7f-457c-b02b-e086bfd675f2 #s-Label_13 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #157EFB;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #157EFB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #157EFB;
  border-radius: 0px 4px 4px 0px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 0px;
  width: 114px;
  height: 23px;
  -ms-transform: rotate(0.0deg);
}
#s-4b0bef1c-4c7f-457c-b02b-e086bfd675f2 #s-Label_14 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #157EFB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #157EFB;
  -ms-transform: rotate(0.0deg);
}
#s-4b0bef1c-4c7f-457c-b02b-e086bfd675f2 #s-Rich_text_32 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-4b0bef1c-4c7f-457c-b02b-e086bfd675f2 #s-Label_15 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 4px 0px 0px 4px;
  padding-top: 2px;
  padding-right: 0px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 114px;
  height: 23px;
  -ms-transform: rotate(0.0deg);
}
#s-4b0bef1c-4c7f-457c-b02b-e086bfd675f2 #s-Label_16 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-radius: 0px 4px 4px 0px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 0px;
  width: 114px;
  height: 23px;
  -ms-transform: rotate(0.0deg);
}
#s-4b0bef1c-4c7f-457c-b02b-e086bfd675f2 #s-Label_17 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-4b0bef1c-4c7f-457c-b02b-e086bfd675f2 #s-Rectangle_19 {
  -ms-transform: rotate(0.0deg);
}
#s-4b0bef1c-4c7f-457c-b02b-e086bfd675f2 #s-Panel_6 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
}
#s-4b0bef1c-4c7f-457c-b02b-e086bfd675f2 #s-Panel_6 > .valign {
  vertical-align: top;
}
#s-4b0bef1c-4c7f-457c-b02b-e086bfd675f2 #s-Label_117 {
  -ms-transform: rotate(0.0deg);
}
#s-4b0bef1c-4c7f-457c-b02b-e086bfd675f2 #s-Rich_text_46 {
  -ms-transform: rotate(0.0deg);
}
#s-4b0bef1c-4c7f-457c-b02b-e086bfd675f2 #s-Line_21 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-4b0bef1c-4c7f-457c-b02b-e086bfd675f2 #s-Line_21 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-4b0bef1c-4c7f-457c-b02b-e086bfd675f2 #s-Rich_text_45 {
  -ms-transform: rotate(0.0deg);
}
#s-4b0bef1c-4c7f-457c-b02b-e086bfd675f2 #s-Line_20 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-4b0bef1c-4c7f-457c-b02b-e086bfd675f2 #s-Line_20 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-4b0bef1c-4c7f-457c-b02b-e086bfd675f2 #s-Rich_text_58 {
  -ms-transform: rotate(0.0deg);
}
#s-4b0bef1c-4c7f-457c-b02b-e086bfd675f2 #s-Line_30 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-4b0bef1c-4c7f-457c-b02b-e086bfd675f2 #s-Line_30 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-4b0bef1c-4c7f-457c-b02b-e086bfd675f2 #s-Rich_text_59 {
  -ms-transform: rotate(0.0deg);
}
#s-4b0bef1c-4c7f-457c-b02b-e086bfd675f2 #s-Line_33 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-4b0bef1c-4c7f-457c-b02b-e086bfd675f2 #s-Line_33 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-4b0bef1c-4c7f-457c-b02b-e086bfd675f2 #s-Rich_text_57 {
  -ms-transform: rotate(0.0deg);
}
#s-4b0bef1c-4c7f-457c-b02b-e086bfd675f2 #s-Line_29 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-4b0bef1c-4c7f-457c-b02b-e086bfd675f2 #s-Line_29 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-4b0bef1c-4c7f-457c-b02b-e086bfd675f2 #s-Label_118 {
  -ms-transform: rotate(0.0deg);
}
#s-4b0bef1c-4c7f-457c-b02b-e086bfd675f2 #s-Rich_text_70 {
  -ms-transform: rotate(0.0deg);
}
#s-4b0bef1c-4c7f-457c-b02b-e086bfd675f2 #s-Line_42 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-4b0bef1c-4c7f-457c-b02b-e086bfd675f2 #s-Line_42 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-4b0bef1c-4c7f-457c-b02b-e086bfd675f2 #s-Rich_text_66 {
  -ms-transform: rotate(0.0deg);
}
#s-4b0bef1c-4c7f-457c-b02b-e086bfd675f2 #s-Line_38 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-4b0bef1c-4c7f-457c-b02b-e086bfd675f2 #s-Line_38 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-4b0bef1c-4c7f-457c-b02b-e086bfd675f2 #s-Rich_text_65 {
  -ms-transform: rotate(0.0deg);
}
#s-4b0bef1c-4c7f-457c-b02b-e086bfd675f2 #s-Line_37 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-4b0bef1c-4c7f-457c-b02b-e086bfd675f2 #s-Line_37 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-4b0bef1c-4c7f-457c-b02b-e086bfd675f2 #s-Rich_text_67 {
  -ms-transform: rotate(0.0deg);
}
#s-4b0bef1c-4c7f-457c-b02b-e086bfd675f2 #s-Line_39 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-4b0bef1c-4c7f-457c-b02b-e086bfd675f2 #s-Line_39 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-4b0bef1c-4c7f-457c-b02b-e086bfd675f2 #s-Rich_text_63 {
  -ms-transform: rotate(0.0deg);
}
#s-4b0bef1c-4c7f-457c-b02b-e086bfd675f2 #s-Line_35 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-4b0bef1c-4c7f-457c-b02b-e086bfd675f2 #s-Line_35 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-4b0bef1c-4c7f-457c-b02b-e086bfd675f2 #s-Rich_text_64 {
  -ms-transform: rotate(0.0deg);
}
#s-4b0bef1c-4c7f-457c-b02b-e086bfd675f2 #s-Line_36 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-4b0bef1c-4c7f-457c-b02b-e086bfd675f2 #s-Line_36 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-4b0bef1c-4c7f-457c-b02b-e086bfd675f2 #s-Label_119 {
  -ms-transform: rotate(0.0deg);
}
#s-4b0bef1c-4c7f-457c-b02b-e086bfd675f2 #s-Rich_text_68 {
  -ms-transform: rotate(0.0deg);
}
#s-4b0bef1c-4c7f-457c-b02b-e086bfd675f2 #s-Line_40 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-4b0bef1c-4c7f-457c-b02b-e086bfd675f2 #s-Line_40 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-4b0bef1c-4c7f-457c-b02b-e086bfd675f2 #s-Rich_text_69 {
  -ms-transform: rotate(0.0deg);
}
#s-4b0bef1c-4c7f-457c-b02b-e086bfd675f2 #s-Line_41 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-4b0bef1c-4c7f-457c-b02b-e086bfd675f2 #s-Line_41 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-4b0bef1c-4c7f-457c-b02b-e086bfd675f2 #s-Label_98 {
  -ms-transform: rotate(0.0deg);
}
#s-4b0bef1c-4c7f-457c-b02b-e086bfd675f2 #s-Label_61 {
  -ms-transform: rotate(0.0deg);
}
.ui-page {
  overflow-x: hidden;
}
#s-4b0bef1c-4c7f-457c-b02b-e086bfd675f2 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}