#s-77909696-ac60-4070-872c-02ea27a086c8 #s-Label-red {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-77909696-ac60-4070-872c-02ea27a086c8 #s-Rich_text_47 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-77909696-ac60-4070-872c-02ea27a086c8 #s-Label_96 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-77909696-ac60-4070-872c-02ea27a086c8 #s-Label_120 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-77909696-ac60-4070-872c-02ea27a086c8 #s-Button-black {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-77909696-ac60-4070-872c-02ea27a086c8 #s-Button-black_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.ui-page {
  overflow-x: hidden;
}
#s-77909696-ac60-4070-872c-02ea27a086c8 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}