#s-bfc15a44-de7d-4bec-8d11-331bf31fdf18 #s-Rich_text_76 {
  -ms-transform: rotate(0.0deg);
}
#s-bfc15a44-de7d-4bec-8d11-331bf31fdf18 #s-Image_10 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98);
  filter: alpha(opacity=98);
}
#s-bfc15a44-de7d-4bec-8d11-331bf31fdf18 #s-Rich_text_47 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-bfc15a44-de7d-4bec-8d11-331bf31fdf18 #s-Label_96 {
  -ms-transform: rotate(0.0deg);
}
#s-bfc15a44-de7d-4bec-8d11-331bf31fdf18 #s-Label_120 {
  -ms-transform: rotate(0.0deg);
}
#s-bfc15a44-de7d-4bec-8d11-331bf31fdf18 #s-Rich_text_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-bfc15a44-de7d-4bec-8d11-331bf31fdf18 #s-Label_121 {
  -ms-transform: rotate(0.0deg);
}
#s-bfc15a44-de7d-4bec-8d11-331bf31fdf18 #s-Label_122 {
  -ms-transform: rotate(0.0deg);
}
#s-bfc15a44-de7d-4bec-8d11-331bf31fdf18 #s-Label_123 {
  -ms-transform: rotate(0.0deg);
}
#s-bfc15a44-de7d-4bec-8d11-331bf31fdf18 #s-Rich_text_43 {
  -ms-transform: rotate(0.0deg);
}
#s-bfc15a44-de7d-4bec-8d11-331bf31fdf18 #s-Rich_text_20 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #999999;
  border-radius: 6px 6px 6px 6px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 18px;
  height: 18px;
  -ms-transform: rotate(0.0deg);
}
#s-bfc15a44-de7d-4bec-8d11-331bf31fdf18 #s-Line_17 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-bfc15a44-de7d-4bec-8d11-331bf31fdf18 #s-Line_17 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-bfc15a44-de7d-4bec-8d11-331bf31fdf18 #s-Rich_text_44 {
  -ms-transform: rotate(0.0deg);
}
#s-bfc15a44-de7d-4bec-8d11-331bf31fdf18 #s-Rich_text_21 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #999999;
  border-radius: 6px 6px 6px 6px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 18px;
  height: 18px;
  -ms-transform: rotate(0.0deg);
}
#s-bfc15a44-de7d-4bec-8d11-331bf31fdf18 #s-Line_18 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-bfc15a44-de7d-4bec-8d11-331bf31fdf18 #s-Line_18 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-bfc15a44-de7d-4bec-8d11-331bf31fdf18 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-bfc15a44-de7d-4bec-8d11-331bf31fdf18 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-bfc15a44-de7d-4bec-8d11-331bf31fdf18 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-bfc15a44-de7d-4bec-8d11-331bf31fdf18 #s-Button-black {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #434343;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #434343;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 94px;
  height: 27px;
  -ms-transform: rotate(0.0deg);
}
#s-bfc15a44-de7d-4bec-8d11-331bf31fdf18 #s-Rich_text_45 {
  -ms-transform: rotate(0.0deg);
}
#s-bfc15a44-de7d-4bec-8d11-331bf31fdf18 #s-Rich_text_22 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #999999;
  border-radius: 6px 6px 6px 6px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 18px;
  height: 18px;
  -ms-transform: rotate(0.0deg);
}
#s-bfc15a44-de7d-4bec-8d11-331bf31fdf18 #s-Line_19 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-bfc15a44-de7d-4bec-8d11-331bf31fdf18 #s-Line_19 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-bfc15a44-de7d-4bec-8d11-331bf31fdf18 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
.ui-page {
  overflow-x: hidden;
}
#s-bfc15a44-de7d-4bec-8d11-331bf31fdf18 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}