#s-bfc15a44-de7d-4bec-8d11-331bf31fdf18 #s-Rich_text_76 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfc15a44-de7d-4bec-8d11-331bf31fdf18 #s-Image_10 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98) ;
  filter: alpha(opacity=98) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfc15a44-de7d-4bec-8d11-331bf31fdf18 #s-Rich_text_47 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfc15a44-de7d-4bec-8d11-331bf31fdf18 #s-Label_96 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfc15a44-de7d-4bec-8d11-331bf31fdf18 #s-Label_120 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfc15a44-de7d-4bec-8d11-331bf31fdf18 #s-Rich_text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfc15a44-de7d-4bec-8d11-331bf31fdf18 #s-Label_121 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfc15a44-de7d-4bec-8d11-331bf31fdf18 #s-Label_122 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfc15a44-de7d-4bec-8d11-331bf31fdf18 #s-Label_123 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfc15a44-de7d-4bec-8d11-331bf31fdf18 #s-Rich_text_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfc15a44-de7d-4bec-8d11-331bf31fdf18 #s-Rich_text_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfc15a44-de7d-4bec-8d11-331bf31fdf18 #s-Line_17 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfc15a44-de7d-4bec-8d11-331bf31fdf18 #s-Rich_text_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfc15a44-de7d-4bec-8d11-331bf31fdf18 #s-Rich_text_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfc15a44-de7d-4bec-8d11-331bf31fdf18 #s-Line_18 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfc15a44-de7d-4bec-8d11-331bf31fdf18 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfc15a44-de7d-4bec-8d11-331bf31fdf18 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfc15a44-de7d-4bec-8d11-331bf31fdf18 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfc15a44-de7d-4bec-8d11-331bf31fdf18 #s-Button-black {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfc15a44-de7d-4bec-8d11-331bf31fdf18 #s-Rich_text_45 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfc15a44-de7d-4bec-8d11-331bf31fdf18 #s-Rich_text_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfc15a44-de7d-4bec-8d11-331bf31fdf18 #s-Line_19 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfc15a44-de7d-4bec-8d11-331bf31fdf18 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.ui-page {
  overflow-x: hidden;
}
#s-bfc15a44-de7d-4bec-8d11-331bf31fdf18 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}